body {
    background-image: url(../img/pdaft.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: #000000;
    text-align: center;
}